/* стили для шапки */

header {
    background-color: #f4f4f4;
    padding: 10px 0;
    text-align: center;
}

.navigation-menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

.navigation-menu li {
    display: inline;
    margin-right: 20px;
}

.navigation-menu li:last-child {
    margin-right: 0;
}

.navigation-menu li a {
    text-decoration: none;
    color: #333;
    padding: 5px 10px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

select {
            width: 100%;
        }

.navigation-menu li a:hover {
    background-color: #ddd;
}

/* конец стилей для шапки */

/* для информации на странице about */
.container {
    max-width: 800px; /* Укажите желаемую максимальную ширину контейнера */
    margin: 0 auto; /* Центрирование контейнера по горизонтали */
}

.content-slider, .navigation-menu {
    margin-top: 20px; /* Добавим небольшое отступ сверху для разделения заголовка и контента */
}

.content-slider {
    margin: 20px auto;
    max-width: 600px;
}

.content-slider div {
    padding: 20px;
}

.content-slider h1 {
    margin-bottom: 10px;
}

.content-slider ul {
    padding-left: 20px;
}

.content-slider ul li {
    margin-bottom: 10px;
}

/* стили для каждого из слайдов */
/* Скрываем текст на всех слайдах, кроме текущего */
.slick-slide {
    opacity: 0;
    transition: opacity 0.3s ease;
}

/* Показываем текст только на текущем слайде */
.slick-slide.slick-active {
    opacity: 1;
}

/* конец куска для about */


/* кусок для login */
.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Центрирование по вертикали */
}

.login-form {
    max-width: 400px; /* Ширина формы */
    width: 100%;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    text-align: center; /* Центрирование содержимого */
}

.login-form p {
    margin: 10px 0; /* Отступы между элементами формы */
}

.login-form input[type="text"],
.login-form input[type="password"],
.login-form input[type="submit"] {
    width: 100%; /* Ширина полей ввода и кнопки равна ширине формы */
    padding: 10px;
    margin-bottom: 10px; /* Отступ между полями */
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box; /* Чтобы padding не добавлялся к ширине */
}

.login-form input[type="submit"] {
    background-color: #4CAF50; /* Цвет кнопки */
    color: white;
    cursor: pointer;
}

/* конец куска для login */


/* кусок для index */

.page-content {
    max-width: 800px; /* Желаемая максимальная ширина контейнера */
    margin: 0 auto; /* Центрирование контейнера по горизонтали */
}


.comparison-form input[type="file"] {
    text-align: center; /* Центрирование содержимого формы */
    width: 100%; /* Ширина поля ввода равна ширине формы */
    padding: 10px;
    margin-bottom: 10px; /* Отступ между полями */
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box; /* Чтобы padding не добавлялся к ширине */
}


.comparison-form p {
    margin: 10px 0; /* Отступы между элементами формы */
}

.comparison-form input[type="text"],
.comparison-form input[type="submit"] {
    width: 100%; /* Ширина полей ввода и кнопки равна ширине формы */
    padding: 10px;
    margin-bottom: 10px; /* Отступ между полями */
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box; /* Чтобы padding не добавлялся к ширине */
}

.comparison-form input[type="submit"] {
    background-color: #4CAF50; /* Цвет кнопки */
    color: white;
    cursor: pointer;
}


/* конец куска для index */

/* кусок для main */

/* конец куска для main */

/* красивый список для первой страницы */
.list3b {
    padding:0;
    list-style: none;
    counter-reset: li;
}
.list3b li {
    position: relative;
    border-left: 4px solid #DDDDDD;
    padding:16px 20px 16px 28px;
    margin:12px 0 12px 80px;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
}
.list3b li:before {
    line-height: 32px;
    position: absolute;
    top: 10px;
    left:-80px;
    width:80px;
    text-align:center;
    font-size: 24px;
    font-weight: bold;
    color: #DDDDDD;
    counter-increment: li;
    content: counter(li);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.list3b li:hover:before {
    color: #77AEDB;
}
.list3b li:after {
    position: absolute;
    top: 26px;
    left: -40px;
    width: 60px;
    height: 60px;
    border: 8px solid #3399FF;
    border-radius: 50%;
    content: '';
    opacity: 0;
    -webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
    -moz-transition: -moz-transform 0.3s, opacity 0.3s;
    transition: transform 0.3s, opacity 0.3s;
    -webkit-transform: translateX(-50%) translateY(-50%) scale(0.1);
    -moz-transform: translateX(-50%) translateY(-50%) scale(0.1);
    transform: translateX(-50%) translateY(-50%) scale(0.1);
    pointer-events: none;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.list3b li:hover:after {
    opacity: 0.2;
    -webkit-transform: translateX(-50%) translateY(-50%) scale(1);
    -moz-transform: translateX(-50%) translateY(-50%) scale(1);
    transform: translateX(-50%) translateY(-50%) scale(1);
}

/* анимированные кнопки */
.text-box {
    margin-left: 44vw;
   margin-top: 42vh;


}

.btn:link,
.btn:visited {
    text-transform: uppercase;
    text-decoration: none;
    padding: 15px 40px;
    display: inline-block;
    border-radius: 100px;
    transition: all .2s;
    position: absolute;
}

.btn:hover {
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.btn:active {
    transform: translateY(-1px);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.btn-white {
    background-color: rgba(0, 147, 0, 0.91);
    color: #ffffff;
}

.btn::after {
    content: "";
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 100px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all .4s;
}

.btn-white::after {
    background-color: #fff;
}

.btn:hover::after {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0;
}

.btn-animated {
    animation: moveInBottom 5s ease-out;
    animation-fill-mode: backwards;
}

@keyframes moveInBottom {
    0% {
        opacity: 0;
        transform: translateY(30px);
    }

    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}