<!DOCTYPE html>
<html>
<head>
    <title>О модуле</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.css"/>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick-theme.css"/>
</head>
<body>
    <header>
        <nav>
            <ul class="navigation-menu">
                <li><a href="/">Домой</a></li>
                <li><a href="/about">О модуле</a></li>
                <li><a href="#">Поиск соединения</a></li>
                <li><a href="/similarity">Сравнение формул</a></li>
            </ul>
        </nav>
    </header>
    <div class="container">
    <h1>Форматы представления химических соединений</h1>
    <div class="content-slider">
        <div class="slick-slide">
            <h1>Структурная формула</h1>
            <p><strong>Структурная формула</strong> отображает молекулярную структуру химического соединения, показывая атомарные и связи и то, каким образом атомы расположены относительно друг друга в пространстве.</p>
        </div>
        <div class="slick-slide">
            <h1>InChi</h1>
            <p><strong>Идентификатор InChi (International Chemical Identifier)</strong> — международный текстовый идентификатор химических соединений, обеспечивающий способ кодирования информации о составе и структуре молекул. InChi использует множество уровней: формула, связи, изотопы, стереохимия, таутомерия (обратимая изомерия).</p>
        </div>
        <div class="slick-slide">
            <h1>SMILES</h1>
            <p><strong>Спецификация SMILES (Simplified molecular-input line-entry system)</strong> — система правил однозначного описания структуры химических соединений строками символов ASCII.</p>
        </div>
        <div class="slick-slide">
            <h1>Fingerprint</h1>
            <p><strong>Молекулярный отпечаток (fingerprint)</strong> — способ кодирования структуры молекулы. Представляет собой битовую строку, где каждый бит соответствует какому-либо химическому свойству, преимущественно, подструктурам. Молекулярные отпечатки обычно используются для поиска схожих химических соединений.</p>
        </div>
        <div class="slick-slide">
            <h1>Molfile</h1>
            <p><strong>Файлы химических таблиц MDL Molfile</strong> — структурированный формат файла, используемый для представления информации о молекулах и химических соединениях. MDL (Molecular Design Limited) разработала этот формат для хранения информации о химических структурах, и он стал одним из стандартных форматов в области химии и молекулярного моделирования. Такие файлы зачастую имею расширения “.sdf”(Structure Data File) или “.mol”. Подобные форматы мы чаще всего можем встретить в патентной базе “USPTO”.</p>
        </div>
    </div>
    <div class="module-info">
        <h2>О программном модуле</h2>
        <p>Ваша информация о программном модуле здесь...</p>
    </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.js"></script>
    <script>
        $(document).ready(function(){
            $('.content-slider').slick({
                infinite: true,
                slidesToShow: 1,
                slidesToScroll: 1,
                dots: true,
                autoplay: true,
                autoplaySpeed: 3000,
                arrows: true
            });
        });
    </script>
</body>
</html>
