<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Welcome</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='Welcome.css') }}">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script> <!-- Подключение jQuery -->

</head>

<body>
    <h1>

	<center>
	<span>Добро</span>
	<span> </span>
	<span>Пожаловать</span>
	<span> </span>
	<span>В</span>
	<span> </span>
	<span>Программный</span>
	<span> </span>
	<span>Модуль</span>
		<span> </span>
		<span>"</span>
		<span>C</span>
		<span>H</span>
		<span>E</span>
		<span>M</span>
		<span>I</span>
		<span>S</span>
		<span>T</span>
		<span>R</span>
		<span>Y</span>
		<span>"</span>
        <span>🧪</span>
        <span>🧬</span>
        <span>🔬</span>

		</center>
</h1>
    <script>
    $(document).ready(function () {
    // Handler for .ready() called.
    window.setTimeout(function () {
        location.href = "/";
    }, 5500);
});
</script>

</body>
</html>
